<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD-2tdhktCQZX84vVCEh2D-iHbAlGYujZI</string>
	<key>GCM_SENDER_ID</key>
	<string>273341162455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.csc315TeamEdgarBurgessProject</string>
	<key>PROJECT_ID</key>
	<string>term-project-edgar-burgess</string>
	<key>STORAGE_BUCKET</key>
	<string>term-project-edgar-burgess.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:273341162455:ios:f2117836f8f22218296192</string>
</dict>
</plist>